.App {
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%; */
	/* background: gray; */
}
/*
.multi {
	height: 100%;
	width: auto;
	padding: 2% 4%;
	background: darkcyan;
}

.multi input {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding: 2%;
}
input::placeholder {
	font-size: 16px;
	font-weight: 500;
}
button {
	padding: 10px 20px;
	background: lightgreen;
	outline: none;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	color: black;
} */
